* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}
nav {
    padding: 12px;
    border-bottom: 1px dotted
      hsl(0deg 0% 0% / 0.2);
    background-color: #1F2937;
}
ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
    flex-direction: row;
    padding: 0px;
    margin: 0;
}
.secondary-text {
    margin-right: 0;
    size: 18px;
    color: #E5E7EB;
}
.logo {
    margin-right: auto;
    color: #F9FAF8;
    size: 24px;
    text-decoration: none;
}


body {
    padding: 0;
}
.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    justify-self: center;    
}
.container {
    height: 140px;
    padding: 16px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
  
.item {
    width: 60px;
    height: 60px;
    border: 2px solid #3882F6;
    border-radius: 10px;
    background: white;
}
.caption {
    background: white;
    border: 0px;
}
.body-heading {
    font-size: 25px;
    color: black;
}
.section-1 {
    display: flex;
    background-color: #1f2937;
}
.section-1-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    justify-self: left;
}
.image-placeholder {
    background-color: grey;
    align-self: center;
    justify-self: center;
    color: #E5E7EB;
}

.button {
    background: #3882F6;
    color: #F9FAF8;
    display: flex;
}
.section-3 {
    background-color: #E5E7EB;
}
.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: light italic;
}
.quote-author {
    justify-self: right;
    color: #1f2937;
    font-weight: 900;
}
.footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}