* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}
nav {
    padding: 12px;
    border-bottom: 1px dotted
      hsl(0deg 0% 0% / 0.2);
}
ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
    flex-direction: row;
    padding: 0px;
    margin: 0;
}

li.logo {
    margin-right: auto;
}


body {
    padding: 0;
}
.info-header {
    size: 36px;
    color: #1F2937;
    font-weight: 900;    
}
.container {
    height: 140px;
    padding: 16px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
  
.item {
    width: 60px;
    height: 60px;
    border: 2px solid #3882F6;
    border-radius: 10px;
    background: white;
}
.caption {
    background: white;
    border: 0px;
}
.body-heading {
    font-size: 25px;
    color: black;
}
h1 {
    justify-self: center;
}